{% extends "base.html" %}

{% block title %}Flask of Beer{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
            <div class="jumbotron">
                <h1>Warning!</h1>
                <p>Brandon is a confirmed tool!  Report to follow.</p>
                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
            </div>
        <div class="one-third column">
            <h4>Welcome!</h4>
            <p>The current temperature is:</p>
            </br>
            <div id="gauge" class="200x160px"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var g5 = new JustGage({
    id: "gauge",
    value: '{{ temp }}',
    min: 50,
    max: 100,
    title: "Raspi Temp",
    label: "",
    levelColorsGradient: false,
    valueFontColor: "gray",
    refreshAnimationTime: 15
  });
</script>
{% endblock %}