{% extends "base.html" %}

{% block title %}Flask of Beer{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
            <div class="jumbotron">
                <h1>Warning!</h1>
                <p>Brandon is a confirmed tool!  Report to follow.</p>
                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
            </div>
        <div class="one-third column">
            <h4>Welcome!</h4>
            <p>You will soon be able to see the temperature here!</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Scripts will show up here eventually -->
{% endblock %}